* {
  box-sizing: border-box;
  margin: 0;
}

.photos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photos img {
  width: 100%;
  margin-top: 5px;
}

h1 {
  text-align: center;
  margin: 25px;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 400;
}